/* reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilos del body */

body {
    background-color: white;
}

/* estilos del header */

header {
    padding: 20px;
    text-align: center;

}

header img {
    width: 500px;
}

/* estilos del main */

main {
    padding: 20px;
    text-align: center;
}

main h1 {
    text-align: center;
    font-size: 100px;
    font-style: oblique;
    margin-bottom: 40px;
}

main p {
    text-align: center;
    font-size: 30px;
    font-style: oblique;
    background-color: pink;
}

.historia {
    margin-bottom: 40px;
}



main nav ul {
    list-style: none;
    background-color: pink;
    padding: 10px;
    font-size: 25px;
    border-radius: 10px;
    font-style: oblique;

}

.menu {
    background-color: rgb(155, 59, 99);
    border-color: white;
    border-style: groove;
    padding: 10px 10px;
}

/*Estilos distintas secciones*/


.header2 {
    text-align: left;
}

.subtitulo {
    background-color: rgb(155, 59, 99);
    border-color: white;
    border-style: groove;
    padding: 10px 10px;
    font-style: oblique;
}

.contacto {
    font-size: 40px;
    text-align: left;
}

.formulario {
    text-align: left;
    font-weight: bold;
    padding: 5px;

}

/* estilos footer */

footer {
    text-align: center;
    margin: 20px;
}

footer h2 {
    font-size: 13px;
    margin-top: 10px;
}

footer ul {
    list-style: none;
}

footer ul li {
    display: inline-block;
    margin: 10px;
}